@media (max-width: 992px) {
    .name-input {
        width: 16rem;
    }
    .function-row {
        flex-wrap: wrap;
    }
    .function-row .f-item {
        flex: 1 1 49%;
    }
    .function-row .f-item.one {
        order: 1;
    }
    .function-row .f-item.two {
        order: 3;
    }
    .function-row .f-item.three {
        order: 4;
    }
    .function-row .f-item.four {
        order: 2;
    }
    .function-row .btn {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .drag-handle,
    .btn-danger.desktop {
        display: none;
    }

    .name-input {
        width: 100% !important;
        margin: 0 !important;
    }
    .elapsed-input,
    .running-timer,
    .play,
    .pause {
        width: 48%;
        margin: 0 !important;
    }

    .card form {
        flex-direction: column;
        align-items: stretch !important;
    }

    .card .d-flex {
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: space-between;
    }

    .btn-danger.mobile {
        display: inline-block;
    }
}
