.name-input {
    width: 20rem;
    resize: horizontal;
    overflow: auto;
}

.running-timer, .elapsed-input {
    font-weight: 500;
    text-align: center;
    width: 6rem;
}

.pause, .play {
    width: 7rem;
    font-weight: 500;
}

.drag-over {
    border: 2px dashed #0d6efd;
    background-color: #e7f1ff;
}

.dragging {
    opacity: 0.5;
}

.drag-handle {
    cursor: grab;
    margin-right: 15px;
    font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn-danger.mobile {
    display: none;
}

.fa-sun,
.fa-moon {
    color: #424242;
}

#inactivity-time {
    width: 46px;
    text-align: center;
}
